$white: #fff;
$lowWhite: #ecebeb;
$orangeRed: #fb4747;
$lightOrangeRed: #fa7a7a;
// $lightOrangeRed: #fe878776;
$text-color: rgb(0, 0, 0);
$black: #131212;
// $orangeRed: #f94f4f;
// :export {
//   white: $white;
// }
